@import 'global/variables';
@import 'global/_theming';
@import 'vue-select/src/scss/vue-select.scss';

body {
  margin: 0;
}

input {
  color: var(--text-color);
  background: var(--background-2-color);
  border: none;
  height: 20px;
  padding: 5px;
}

button {
  padding: 8px;
  font-weight: bold;
  color: var(--text-color);
  border: 2px solid var(--frame-border);
  border-radius: 6px;
  background: var(--background-2-color);

  &:hover {
    background: var(--background-color);
  }
}

// vue-select class overrides
.v-select {
  background: var(--background-2-color);
}
.vs__selected,
.vs__dropdown-option {
  color: var(--text-color);
  margin: 0;
  line-height: 1;
}

.vs__search::placeholder {
  color: var(--frame-border);
}

.vs__dropdown-menu {
  border-color: var(--frame-border);
}


