:root {
  --background-color: whitesmoke;
  --background-2-color: #dbdbdb;
  --text-color: #1c2f21;
  --link-active-color: #8CC459;
  --link-color: #2c3e50;
  --frame-border: rgba(28, 47, 33, 0.75);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1c2f21;
    --background-2-color: #2f4934;
    --text-color: whitesmoke;
    --link-active-color: #8CC459;
    --link-color: #CCE9C8;
    --frame-border: rgba(245, 245, 245, 0.75);
  }
}
